.container {
    padding: 0px 250px !important;
}

@media (max-width: 768px) {
    .container {
        padding: 10px !important;
    }
}

/* Hide number input spinners globally */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}