.container {
    padding: 50px 250px !important;
}

.button-text {
    font-size: var(--brand-font-size-base)!important;
    font-weight: 600!important;
    color: var(--brand-text-on-primary-color)!important;
}

@media (max-width: 768px) {
    .container {
        padding: 10px !important;
    }
}

/* Hide number input spinners globally */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}